configstore
com.corsair
iterm2
nvim/plugin
nvim/lazy-lock.json
nvim/lua/aome/core/colorscheme.lua
tmux/plugins/*
alacritty/themes
gh
gh-dash
karabiner/automatic_backups
htop
nvim/lazy-lock.json
rest-client
nodemon.json
.DS_Store
lazygit
/nvm/
/go/
alfred/
/astro/
**nodejs/
